/* Sidebar section */
.sidebar__section {
  background-color: #6a543f;
  width: 370px;
  padding: 40px 0;
}
.contacts__section,
.tech-skills__section {
  margin: 50px 0 0 40px;
}
.soft-skills__section {
  margin: 45px 0 0 40px;
}
.sidebar__img {
  margin: 0 auto;
  width: 300px;
  display: block;
}
.sidebar__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

/* Contacts section */
.contact__type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 5px;
}
.contact__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

/* Skills section */
.tech-skills__list {
  padding: 0 0 0 17px;
}
.skills__item {
  color: #f6d2c4;
}
.skills__item--text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
.soft-skills__list {
  padding: 0 0 0 17px;
}
